# Classic timeseries models

The purpose of the naive models are to form a benchmark for performance. This allows us to compare the performance of feature engineering, hyperparameter tuning, and model architecture against a set of references.


### Test Harness: Walk forward validation
A test rig is a naive implementation of the prediction model. In this notebook univariate and multivariate rigs are deployed as benchmarks for improvement in predictions.

Naive univariate models are deployed using only the most recent data point in time to predict the next. I.e. t-1 = t. 

Multivariate models are deployed using all available feature vectors as predictors.  


#### Classic Models
- Univariate Naive
- Multivariate Naive
- Multivariate Moving Averages
- Multivariate ARIMA

###

In [2]:
#import required packages
import numpy as np
import pandas as pd
from tensorflow.keras import metrics

In [6]:
#load the preprocessed data
data = pd.read_csv('./data/processed/transformed_2016_2018.csv')

#investigate features for h_0
#y-hat is columns from t-0
data[['t-0 h_0','t-1 h_0']].head()

   t-0 h_0  t-1 h_0
0  25833.0  27662.0
1  22113.0  25833.0
2  26810.0  22113.0
3  27578.0  26810.0
4  26897.0  27578.0

In [21]:
def select_autoreg_features(dataframe, y_target='t-0', univariate=False):
    """
    Function that takes in the preprocessed data and returns the Y and X datasets for univariate and multivariate test harnesses.
    
    """
    #select the column headers to build Y matrix
Y_cols = [col for col in data.columns if 't-0' in col]

Y = np.array(data[Y_cols])

#selects the columns headers to build feature vectors of X
X_cols = [col for col in data.columns if 't-0' not in col]

X = np.array(data[X_cols])

In [23]:
data[X_cols].head(2)

,date,t-1 h_0,t-1 h_1,t-1 h_2,t-1 h_3,t-1 h_4,t-1 h_5,t-1 h_6,t-1 h_7,t-1 h_8,...,t-30 h_14,t-30 h_15,t-30 h_16,t-30 h_17,t-30 h_18,t-30 h_19,t-30 h_20,t-30 h_21,t-30 h_22,t-30 h_23
0,2016-01-31,27662.0,25660.0,24106.0,23276.0,22893.0,22841.0,23253.0,24655.0,26373.0,...,23265.0,22061.0,21481.0,21830.0,24291.0,25234.0,25881.0,26149.0,25610.0,24000.0
1,2016-02-01,25833.0,23820.0,22863.0,22056.0,21622.0,21588.0,21940.0,22543.0,23143.0,...,32099.0,31449.0,31179.0,31175.0,32515.0,34967.0,35381.0,34700.0,32055.0,28939.0

In [25]:
X[:2,:].shape

(2, 145)

In [ ]:
def naive_univariate():